@model Site.Models.CategoryModel

<a class="catalog-item-link level-@ViewBag.Level @Html.Raw(Model.Selected ? "selected" : string.Empty)" href="@Url.Action("Index", "Home", new{id = Url.Encode(Model.Id)})">@Model.Title</a>
@Html.ActionLink("...", "ChangeTitle", "Category", new {id = Model.Id}, new{@class="catalog-item-edit"})
@foreach(var subItem in Model.Items)
{
    @Html.DisplayFor(m => subItem, new {Level = ViewBag.Level + 1})
}
